* {
  margin: 0;
  padding: 0;
}

/* Common Style */

body {
  font-family: "Lato", "sans-serif";
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
/* Nav Related */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.nav-list {
  display: flex;
  align-items: center;
}

nav li {
  margin: 50px;
}

nav a {
  color: #474747;
}

/* header */

.header {
  background-color: #fff8f3;
  background-image: url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content{
    max-width: 500px;
}

.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}

.banner-title {
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-text{
    margin-bottom: 30px;
}

.banner-img {
  width: 500px;
  height: 600px;
}
